<!DOCTYPE html>
<head>
    <title>
        TIC_TAC_TOE
    </title>
    <link rel="stylesheet" href="css/choose.css">
</head>
<body>
    <div class="head-cont">
        <h1 class="heading">TIC_TAC_TOE</h1>
    </div>
    <div class="comp-cont">
        <form method="post" action="/comp">
            <button type="submit" class="comp-button"><img src="css/computer.jpg" alt="computer image" class="computer"></button>
        </form>
    </div>
    <div class="play-cont">
        <form method="post" action="/player">
            <button type="submit" class="player-button"><img src="css/player.png" alt="two player image" class="player"></button>
        </form>
    </div>
</body>
</html>