<!DOCTYPE html>
<head>
    <title>
        TIC_TAC_TOE
    </title>
    <link rel="stylesheet" href="css/choose.css">
</head>
<body>
    <h1 class="heading">TIC_TAC_TOE</h1>
    <h2>PLS choose in the following :-</h2>
    <form method="post" action="/comp">
        <button type="submit">COMPUTER</button>
    </form>
    <form method="post" action="/player">
        <button type="submit">TWO PLAYERS</button>
    </form>
</body>
</html>